.success, .error {
    color:white;
    padding:5px;
    margin:5px 0 15px 0;
}

.success {
    background: green; 
}

.error {
    background: red;
}

.add-btn {
    border-radius: 80%;
    position: fixed;
    bottom:0;
    right:0;
    background-color: teal;
    color: white;
    border:none;
    cursor: pointer;
}

.btn-submit {
    color: green;
}

.form-block {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 999;
    width: 500px;
    max-width: 80%;
    background-color: rgb(216, 212, 212);
    padding: 10px;
}

.form-block.active {
    transform: translate(-50%,-50%) scale(1);
}
#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: rgb(236, 187, 159); 
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}